@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    color: white;
}

.logo {
    height: 120px;
}

body {
    background-color: #012b45;
}

header {
    display: flex;
}

img {
    margin: auto;
    padding: 20px;
}

main {
    display: flex;
    margin: auto;
    height: 500px;
    width: 600px;
    border: solid 1px white;
    background-color: #01385a;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.163);
    border-radius: 20px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    height: 60px;
    font-size: 29pt;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

form {
    display: flex;
    flex-direction: column;
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    width: 530px;
    height: 300px;
}

label {
    font-size: 15pt;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 5px;
    color: black;
    text-align: center;
}

.left {
    flex: 50%;
    padding: 10px;
}

.right {
    padding: 10px;
    padding: 10px;
    flex: 50%;
}

.buttons {
    width: 250px;
    margin-left: auto;
}

.buttons > button {
    margin-right: 20px;
    width: 80px;
    height: 40px;
    border-radius: 0px 10px;
    border: 0.5px solid;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.075);
}

.limpar {
    background-color: #bb2828;
}

.limpar:hover {
    cursor: pointer;
    background-color: #7d2222;
}

.enviar {
    background-color: #18b60c;
}

.enviar:hover {
    cursor: pointer;
    background-color: #15850d;
}

