@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

header{
    height: 60px;
    border: solid 1px #ECA826;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: white;
    margin-right: 30px;
}

.logo{
    height: 70%;
    margin-left: 70px;
}

.buttons{
    display: flex;
    flex-direction: column;
    margin-right: 70px;
    gap: 5px;
}

button{
    background-color: #ECA826;
    color: white;
    font-size: 10px;
    border: none;
    width: 80px;
    height: 15px;
}

main{
    flex-grow: 1;
    background-image: url('../src/imgs/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer{
    height: 30px;
    border: solid 1px #ECA826;
    text-align: center;
    color: white;
    padding: 5px;
}

h1{
    font-family: "Bungee Shade", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    width: 600px;
    text-align: center;
    margin-top: 60px;

}

.menu{
    position: absolute;
    width: 80px;
    height: 10px;
    border: solid 1px #ECA826;
    border-radius: 20px;
    font-size: 12px;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 8px;
    backdrop-filter: blur(3px);
    font-family: sans-serif;
    right: 20px;
    bottom: 80px;
}